name: SFTP Deploy

on:
  push:
    branches:
      - main  # Trigger deployment on push to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'  # Specify your Node.js version

    - name: Install dependencies
      run: npm install

    - name: Build the application
      run: CI=false npm run build 

    - name: Rename build folder
      run: mv build website  # Rename dist to order

    - name: Upload files via SFTP
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        source: "website/**"
        target: "/var/www/html/"
        port: 22  # Default SFTP port
